@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo Example</PageTitle>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<input type="text" placeholder="Something to do..." @bind="newTask" />
<button @onclick="AddTask">Add Task</button>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input type="text" @bind="todo.Task" />
        </li>
    }
</ul>


@code {
    private List<TodoItem> todos = new();
    private string newTask = "";

    private void AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newTask))
        {
            TodoItem todo = new();
            todo.Task = newTask;
            todos.Add(todo);

            newTask = "";
        }
    }

    public class TodoItem
    {
        public string? Task { get; set; }
        public bool IsDone { get; set; } = false;
    }
}
